* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "roboto";
}

.topo {
  background-color: #1cd1b0;
  padding: 5px;
  font-size: 14px;
}

.titulo {
  background-color: #00669f;
  padding: 15px;
  box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

.fotocard{
  display:inline-block;
  margin: 110px;
}

.foto1{
  position: absolute;
  z-index: 10;
  top: 350px;
  left: 220px;
  bottom: 0px;
  right: 0px;
}

.foto2{
  position: absolute;
  top: 350px;
  left: 810px;
  bottom: 0px;
  right: 0px;
}

.box1{
  background-color: #F3F3F3 ;
  position: absolute;
  padding: 30px;
  width: 374px;
  height: 379.2px;
  left: 112px;
  top: 420px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}




.rodape {
  background-color: #00669f;
  color: white;
  width: 100%;
  padding: 10px;
  position: absolute;
  top: 972px;
}
