* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #000;
}

html {
  font-size: 18px;
}

.topo {
  background-color: #1cd1b0;
  padding: 10px;
}

.bighead {
  background-color: #00669f;
  padding: 20px;
}

 .card01{
  width: 375px;
  height: 600px;
  background-color: #f3f3f3;
  position: relative;
  left: 200px;
  right: 150px;
  bottom: 120px;
  margin-top: 200px;
} 

.card02{
  width: 375px;
  height: 600px;
  background-color: #f3f3f3;
  position: relative;
  left: 200px;
  right: 150px;
  bottom: 120px;
  margin-top: 200px;
} 

.background_bat{
  background-image: url(/img/fundobatman.png);
  width: 373px;
  height: 130px;
  position: relative;
  display: flex;
}

.background_arle{
  background-image: url(/img/fundoalerquina.png);
  width: 373px;
  height: 130px;
  position: relative;
  display: flex;
}

.batman{
  position:absolute;
  left: 120px;
  top: 50px;
}

.alerquina{
  position:absolute;
  left: 120px;
  top: 50px;
}

.alerquina img {
  border-radius: 50%;
}

.batman img {
  border-radius: 50%;
}

.card01, .card02 {
  display: inline-block;  
  justify-content: center;
}

.descricao {
  position:absolute;
  text-align: center;
  top: 200px;
}

.buttom_1 {  
  background-color: #00669f;
  text-align: center;
  color: white;
  display: inline-block;
  position:absolute;
  top: 525px;
  left: 135px;
  border: 15px solid #00669f;
}

.buttom_2 {  
  background-color: #00669f;
  text-align: center;
  color: white;
  display: inline-block;
  position:absolute;
  top: 525px;
  left: 135px;
  border: 15px solid #00669f;
}

p{
  padding: 30px;
}